.catalog{
    padding-bottom: 100px;

    &__tabs{
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-left: 0;
    }
    &__tab{
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6B6B6B;
        font-size: 18px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;
        text-align: center;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0,5 all;
        margin: 0 5px;
        div{
            transform: skewX(25deg);}
        &:hover{
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        &_active{
            background-color: $main-color;
            color: #fff;
            border: none;
        }
        }
    &__content{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-item{
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        margin-bottom: 20px;
        overflow: hidden;
        &__img{
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle{
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr{
            margin-top: 16px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0D0D0D;
        }
        &__link{
            display: block;
            margin-top: 17px;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            color: $main-color;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover{
                color: $main-color;
            }    
    }
        hr{
            background-color: #e8e8e8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price{
            color: #555555;
            font-style: 14px;
            font-weight: 300;
            text-decoration: line-through;
        }
        &__price{
            font-style: 20px;
            font-weight: 700;
            color: #050505;
        }
        &__wrapper{
            display: flex;
            width: calc(200% + 40px);
        }
        &__content{
            width: 50%;
            margin-right: 0;
            transform: translateX(-100%);
            transition: 0,5s all;
            &_active{
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list{
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            transition: 0,5s all;
            padding-right: 20px;
            padding-left: 19px;
            list-style-type: none;
            margin-bottom: 0;
            &_active{
                transform: translateX(-100%);
                margin-left: 0;
            }
            li{
                position: relative;
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }
        &__back{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover{
                color: $main-color;
            }
        }
        }
    }